<h3>Client</h3>
<ul>
  <% @clients.each do |client| %>
    <li>
    <%= @client.full_name %>
    <%= @client.age %>
    <%= @client.notes %>
    </li>
  <% end %>
</ul>

<form action="/clients/<%= @client.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Client">
</form>
